@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap");

* {
    font-family: "M PLUS Rounded 1c", sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 10px;
    padding: 10px;
    background-color: #f8f9fc;
}

header {
    display: inline;
}

.darkmode {
    background-color: #292929;
}

.darkmode h1 {
    color: #f8f9fc;
}

h1 {
    text-align: center;
    font-size: 100px;
}

.darkmode p {
    color: #f8f9fc;
}

p {
    font-size: 14px;
    text-align: justify;
}

.wpmoon {
    position: absolute;
    margin-top: 20px;
    margin-right: 20px;
    top: 0%;
    right: 0%;
    transform: translate(0%, 0%, 0%);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    height: 95vh;
    justify-content: center;
    align-items: flex-start;
}

.flex-container .card {
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.darkmode .flex-container .card {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 30px;
    }

    .wpmoon {
        position: absolute;
        margin-right: 20px;
        top: 0%;
        right: 0%;
        transform: translate(0%, 0%, 0%);
    }
}